<a href="https://colab.research.google.com/github/syedanoshin/Numpy-Main-Project/blob/main/Untitled25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from scipy.stats import zscore

In [23]:
data = pd.read_csv('/content/talking_data.csv')
data.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0

In [24]:
data.shape

(100000, 8)

In [25]:
data.isna().sum()

ip                     0
app                    0
device                 0
os                     0
channel                0
click_time             0
attributed_time    99773
is_attributed          0
dtype: int64

In [26]:
for col in data.columns:
  print(col,':', data[col].nunique())

ip : 34857
app : 161
device : 100
os : 130
channel : 161
click_time : 80350
attributed_time : 227
is_attributed : 2

In [27]:
data.nunique()

ip                 34857
app                  161
device               100
os                   130
channel              161
click_time         80350
attributed_time      227
is_attributed          2
dtype: int64

In [28]:
x=data.nunique()
x.max()

80350

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ip               100000 non-null  int64
 1   app              100000 non-null  int64
 2   device           100000 non-null  int64
 3   os               100000 non-null  int64
 4   channel          100000 non-null  int64
 5   click_time       100000 non-null  object
 6   attributed_time  227 non-null     object
 7   is_attributed    100000 non-null  int64
dtypes: int64(6), object(2)
memory usage: 6.1+ MB

In [30]:
data["date"]=data["click_time"].apply(lambda x: x.split(" ")[0])

In [31]:
data["year"]=data["date"].apply(lambda y: y.split("-")[0])

In [32]:
data["month"]=data["date"].apply(lambda c: c.split("-")[1])

In [33]:
data["time"]=data["click_time"].apply(lambda d: d.split(" ")[1])

In [34]:
data["hour"]=data["time"].apply(lambda e: e.split(":")[0])

In [35]:
data.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,date,year,month,time,hour
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0,2017-11-07,2017,11,09:30:38,09
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0,2017-11-07,2017,11,13:40:27,13
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0,2017-11-07,2017,11,18:05:24,18
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0,2017-11-07,2017,11,04:58:08,04
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0,2017-11-09,2017,11,09:00:09,09

In [36]:
data.isnull().sum()

ip                     0
app                    0
device                 0
os                     0
channel                0
click_time             0
attributed_time    99773
is_attributed          0
date                   0
year                   0
month                  0
time                   0
hour                   0
dtype: int64

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ip               100000 non-null  int64
 1   app              100000 non-null  int64
 2   device           100000 non-null  int64
 3   os               100000 non-null  int64
 4   channel          100000 non-null  int64
 5   click_time       100000 non-null  object
 6   attributed_time  227 non-null     object
 7   is_attributed    100000 non-null  int64
 8   date             100000 non-null  object
 9   year             100000 non-null  object
 10  month            100000 non-null  object
 11  time             100000 non-null  object
 12  hour             100000 non-null  object
dtypes: int64(6), object(7)
memory usage: 9.9+ MB

In [38]:
data.drop(['click_time','attributed_time','date','time'], axis =1,inplace =True)

In [46]:
data = data.astype('int64')

In [48]:
data.head()

       ip  app  device  os  channel  is_attributed  year  month  hour
0   87540   12       1  13      497              0  2017     11     9
1  105560   25       1  17      259              0  2017     11    13
2  101424   12       1  19      212              0  2017     11    18
3   94584   13       1  13      477              0  2017     11     4
4   68413   12       1   1      178              0  2017     11     9

# Data Spliting

In [49]:
x = data.drop(['is_attributed'], axis=1)
y = data['is_attributed']

In [52]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train, y_test = train_test_split(x,y, test_size= 0.20)

8957     0
89899    0
3223     0
62467    0
64048    0
        ..
75934    0
8883     0
76622    0
48140    0
77190    0
Name: is_attributed, Length: 20000, dtype: int64